/* units =>pixels,percentage
 pixels take exact position depends on scren size
 percetage takes size according to parent tag size */

div{
    width: 32%;
    height: 400px;
    border: 1px solid red;
    float: left;
}
img{
    width: 75%;
    height: 50%;
}
.head1{
    text-align: center;
    text-decoration: underline;
    color: royalblue;
}
.section1{
    border-color:blue;
}
.section1 h2{
    color:red;
    text-decoration: underline;
    text-align: center;

}
/* .section2 img{
    height: 60%;
} */
.section2 h2{
    color: red;
    text-decoration: underline;
    text-align: center;
}
.section3 h2{
    color: red;
    text-decoration: underline;
    text-align: center;

}
.section1 h3{
    color: royalblue;
    
}
.section2 h3{
    color: royalblue;

}
.section3 h3{
    color: royalblue;
}